<div class='addBike'>
  <div id ="topDiv">
  <div id ="leftDiv">
  <form>
  <h1>Add Bike</h1>
  <h5>Title</h5>
  <input type="text" placeholder="Enter Title" name="title" ng-model="view.addBikeTitle">
  <h5>Image URL</h5>
  <input type="text" placeholder = "Enter Image Url" name="image" ng-model="view.addBikeImage">
  <h5>Price/Day</h5>
  <input type="text" placeholder="Price/Day" name="priceday" ng-model="view.addBikePriceday">
  <h5>Price/Hour</h5>
  <input type="text" placeholder="Price/Hour" name="pricehour" ng-model="view.addBikePricehour">
</div>

  <div id="rightdiv">
    <h5>Bike Type</h5>
    <select name="type" ng-model="view.addBikeType">
      <option value="mountain">mountain</option>
      <option value="street">street</option>
      <option value="cruiser">cruiser</option>
    </select>
    <h5>Condition</h5>
    <select name="condition" ng-model="view.addBikeCondition">
      <option value="poor">poor</option>
      <option value="fair">fair</option>
      <option value="good">good</option>
      <option value="excellent">excellent</option>
    </select>
    <h5>Street Address</h5>
    <input type="text" placeholder="Street Address" name="street_address" ng-model="view.addBikeStreet_address">
    <h5>City</h5>
    <input type="text" placeholder="City" name="city" ng-model="view.addBikeCity">
    <h5>State</h5>
    <input type="text" placeholder="State" name="state" ng-model="view.addBikeState">
    <h5>Zip Code</h5>
    <input type="text" placeholder="Zip Code" name="zip_code" ng-model="view.addBikeZip_code">
      <h5>Pickup Instructions</h5>
      <h6>Individuals who rent your bike will see this message upon your acceptance of the bike loan request.</h6>
      <input type ="text" id="pickupIns" placeholder="Enter pickup Instructions." name="instructions" ng-model="view.addBikeInstructions">
    </div>
  </div>
  <div id = "bottomDiv">
    <h5>Bike Description</h5>
    <input type="text" placeholder="Enter Description" id="description" name="description" ng-model="view.addBikeDescription">
  </div>
  <div id = "buttonDiv">
    <input type="submit" value="Cancel" id="cancel">
    <input type="submit" value="Post Bike" id="postBike" ng-click="view.addBike()">
  </div>
</form>
</div>
