<div class='addBike'>
  <div id ="topDiv">
  <div id ="leftDiv">
  <form>
  <h1>Add Bike</h1>
  <h4>Title</h4>
  <input type="text" placeholder="Enter Title" name="title" ng-model="view.addBikeTitle">
  <h4>Image URL</h4>
  <input type="text" placeholder = "Enter Image Url" name="image" ng-model="view.addBikeImage">
  <h4>Price/Day</h4>
  <input type="text" placeholder="Price/Day" name="priceday" ng-model="view.addBikePriceday">
  <h4>Price/Hour</h4>
  <input type="text" placeholder="Price/Hour" name="pricehour" ng-model="view.addBikePricehour">
</div>

  <div id="rightdiv">
    <h4>Bike Type</h4>
    <select name="type" ng-model="view.addBikeType">
      <option value="mountain">mountain</option>
      <option value="street">street</option>
      <option value="cruiser">cruiser</option>
    </select>
    <h4>Condition</h4>
    <select name="condition" ng-model="view.addBikeCondition">
      <option value="poor">poor</option>
      <option value="fair">fair</option>
      <option value="good">good</option>
      <option value="excellent">excellent</option>
    </select>
    <h4>Street Address</h4>
    <input type="text" placeholder="Street Address" name="street_address" ng-model="view.addBikeStreet_address">
    <h4>City</h4>
    <input type="text" placeholder="City" name="city" ng-model="view.addBikeCity">
    <h4>State</h4>
    <select name="state" ng-model="view.addBikeState">
    	<option value="AL">Alabama</option>
    	<option value="AK">Alaska</option>
    	<option value="AZ">Arizona</option>
    	<option value="AR">Arkansas</option>
    	<option value="CA">California</option>
    	<option value="CO">Colorado</option>
    	<option value="CT">Connecticut</option>
    	<option value="DE">Delaware</option>
    	<option value="DC">District of Columbia</option>
    	<option value="FL">Florida</option>
    	<option value="GA">Georgia</option>
    	<option value="HI">Hawaii</option>
    	<option value="ID">Idaho</option>
    	<option value="IL">Illinois</option>
    	<option value="IN">Indiana</option>
    	<option value="IA">Iowa</option>
    	<option value="KS">Kansas</option>
    	<option value="KY">Kentucky</option>
    	<option value="LA">Louisiana</option>
    	<option value="ME">Maine</option>
    	<option value="MD">Maryland</option>
    	<option value="MA">Massachusetts</option>
    	<option value="MI">Michigan</option>
    	<option value="MN">Minnesota</option>
    	<option value="MS">Mississippi</option>
    	<option value="MO">Missouri</option>
    	<option value="MT">Montana</option>
    	<option value="NE">Nebraska</option>
    	<option value="NV">Nevada</option>
    	<option value="NH">New Hampshire</option>
    	<option value="NJ">New Jersey</option>
    	<option value="NM">New Mexico</option>
    	<option value="NY">New York</option>
    	<option value="NC">North Carolina</option>
    	<option value="ND">North Dakota</option>
    	<option value="OH">Ohio</option>
    	<option value="OK">Oklahoma</option>
    	<option value="OR">Oregon</option>
    	<option value="PA">Pennsylvania</option>
    	<option value="RI">Rhode Island</option>
    	<option value="SC">South Carolina</option>
    	<option value="SD">South Dakota</option>
    	<option value="TN">Tennessee</option>
    	<option value="TX">Texas</option>
    	<option value="UT">Utah</option>
    	<option value="VT">Vermont</option>
    	<option value="VA">Virginia</option>
    	<option value="WA">Washington</option>
    	<option value="WV">West Virginia</option>
    	<option value="WI">Wisconsin</option>
    	<option value="WY">Wyoming</option>
    </select>
    <h4>Zip Code</h4>
    <input type="text" placeholder="Zip Code" name="zip_code" ng-model="view.addBikeZip_code">
      <h4>Pickup Instructions</h4>
      <h6>Individuals who rent your bike will see this message upon your acceptance of the bike loan request.</h6>
      <input type ="text" id="pickupIns" placeholder="Enter pickup Instructions." name="instructions" ng-model="view.addBikeInstructions">
    </div>
  </div>
  <div id = "bottomDiv">
    <h4>Bike Description</h4>
    <input type="text" placeholder="Enter Description" id="description" name="description" ng-model="view.addBikeDescription">
  </div>
  <!-- <input type="text" ng-value="user.id" name="owner_id" ng-model="view.addBikeOwnerId"> -->
  <div id = "buttonDiv">
    <input type="submit" value="Cancel" id="cancel">
    <input type="submit" value="Post Bike" id="postBike" ng-click="view.addBike(user.id)">
  </div>
</form>
</div>
