<div class='addBike'>
  <div id ="topDiv">
  <div id ="leftDiv">
  <h1>Add Bike</h1>
  <h4>Title</h4>
  <input type="text" placeholder="Enter Title">
  <h4>Image URL</h4>
  <input type="text" placeholder = "Enter Image Url">
  <h4>Price/Day</h4>
  <input type="text" placeholder="Price/Day">
  <h4>Price/Hour</h4>
  <input type="text" placeholder="Price/Hour">
</div>

  <div id="rightdiv">
    <h4>Bike Type</h4>
    <select placeholder="Bike Type">
      <option value="mountain">mountain</option>
      <option value="street">street</option>
      <option value="cruiser">cruiser</option>
    </select>
    <h4>Condition</h4>
    <select>
      <option value="poor">poor</option>
      <option value="fair">fair</option>
      <option value="good">good</option>
      <option value="excellent">excellent</option>
    </select>
      <h4>Pickup Instructions</h4>
      <h6>Individuals who rent your bike will see this message upon your acceptance of the bike loan request.</h6>
      <input type ="text" id="pickupIns" placeholder="Enter pickup Instructions.">
    </div>
  </div>
  <div id = "bottomDiv">
    <h4>Bike Description</h4>
    <input type="text" placeholder="Enter Description" id="description">
  </div>
  <div id = "buttonDiv">
    <input type="submit" value="Cancel" id="cancel">
    <input type="submit" value="Post Bike" id="postBike">
  </div>
</div>
