
<div id="dashboardContainer">
  <div id="accountSettingBar" class="dashboardDivs">
    <h3>Account Settings</h3>
  </div>
  <div ng-show="showAccountInfo" ng-click="toggleAccount()" class="dashboardDrop">
    Account
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nostrum veniam tempora veritatis iure saepe dicta, neque consectetur maxime accusantium debitis, eos ex modi nesciunt facere porro ea ut quia.
  </div>
  <div id="CurrentlyBorrowedBikeBar" class="dashboardDivs">
    <h3>Currently Borrowed Bikes</h3>
  </div>
  <div ng-show="showBorrowedBikes === true" ng-click="toggleBorrowedBikes()" class="dashboardDrop">
    Borrowed
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam illum, mollitia iusto dolore distinctio illo doloribus, praesentium perferendis cumque, blanditiis a. Veniam est, iusto esse, itaque distinctio necessitatibus dolorum quas!
  </div>
  <div id="myBikesBar" class="dashboardDivs">
    <h3>My Bikes</h3>
  </div>
  <div ng-show="showMyBikes === true" ng-click="toggleMyBikes()" class="dashboardDrop">
    My Bikes
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quasi quam laborum a tenetur mollitia nesciunt veritatis ipsam iure explicabo dignissimos aperiam ex magni aspernatur, impedit cumque. Non impedit, ut.
  </div>
</div>
