<div id="landingContainer">
  <div id="slogan">
    <p>Rent a bike anytime,</p>
    <p>anywhere, from anyone.</p>
  </div>
  <div id="instructions">
    <p>Enter your location</p>
    <p>and when you need a bike</p>
  </div>
  <div id="landingSearchForm">
    <form ng-search="">
      <input type="text" placeholder="Enter Location (city or zip)" id="locationInput">
      <input type="button" value="Start Time" id="startTime">
      <input type="button" value="End Time" id="endTime">
      <input type="button" value="Search" id="landingSearch">
    </form>
  </div>
</div>
