<form ng-submit="view.signUp()" name="signUpForm">
  <p>Username</p>
  <input type="text" name="username" ng-model="view.usernameSignup">
  <p>Password</p>
  <input type="password" name="password" ng-model="view.passwordSignup">
  <p>Email</p>
  <input type="email" name="email" ng-model="view.emailSignup">
  <p>Street Address</p>
  <input type="text" name="street_address" ng-model="view.street_addressSignup">
  <p>City</p>
  <input type="text" name="city" ng-model="view.citySignup">
  <p>State</p>
  <input type="text" name="state" ng-model="view.stateSignup">
  <p>Zip Code</p>
  <input type="number" name="zip_code" ng-model="view.zip_codeSignup">
  <input type="submit">
</form>
