<div class="background">
  <div class="signup">
    <form ng-submit="view.signUp()" name="signUpForm">
      <h2>Sign Up</h2>
      <input type="text" name="username" ng-model="view.usernameSignup" placeholder="username">
      <input type="password" name="password" ng-model="view.passwordSignup" placeholder="password">
      <input type="email" name="email" ng-model="view.emailSignup" placeholder="email">
      <input type="text" name="street_address" ng-model="view.streets_addressSignup" placeholder="street address">

    <div class="signupAddress">
      <input type="text" name="city" ng-model="view.citySignup" placeholder="city">
      <input type="text" name="state" ng-model="view.stateSignup" placeholder="state">
      <input type="text" name="zip_code" ng-model="view.zip_codeSignup" placeholder="zip code">
    </div>

    <input type="submit">

    </form>
    </div>

  </form>
</div>
