body {
  margin-bottom: 0; }

div.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh; }

.popup-window {
  position: absolute;
  background-color: white;
  border: 1px solid black; }

header.masthead {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 100%; }

a.post-bike-button {
  margin-left: 50px; }

header div {
  display: flex;
  align-items: center; }

div.head-logo {
  width: 230px;
  justify-content: center; }

img.head-logo {
  width: 170px;
  height: 64px; }

div.header-filler {
  width: 900px; }

div.account-cta {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin-right: 50px; }
  div.account-cta a {
    color: black; }

button#post-bike-button {
  background-color: #3498DB;
  color: white;
  width: 100px;
  margin-top: 22px; }

#landingContainer {
  margin-top: 0px;
  height: 100vh; }

#slogan {
  margin-bottom: 30px;
  padding-top: 30px; }

#instructions {
  margin-bottom: 30px; }

#slogan p {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px; }

#instructions p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px; }

#landingSearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70px;
  margin-left: 30px;
  margin-top: 30px; }

#landingSearchForm input {
  margin-right: 20px; }

main.bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background-size: 1440px; }

#bike-frame-image img {
  max-height: 27vh; }

section.bike-search-params {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
  margin-bottom: 40px; }

section.all-bikes-frame {
  display: flex;
  flex-direction: column;
  width: 1340px;
  height: auto;
  padding: 0px 40px 40px 40px;
  margin-bottom: 40px; }

section.result-subtitle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px; }

section.bike-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%; }

div.bike-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 42.7vw;
  height: 37.28vh;
  margin-bottom: 40px;
  padding-top: 20px; }

div.location-date-search {
  display: flex;
  align-items: center;
  width: 45vw;
  height: 68px;
  margin-left: 50px; }

div.bike-sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 22vw;
  height: 68px;
  margin-left: 80px; }

form.location-date-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  margin-top: 14px; }
  form.location-date-search input.location {
    width: 140px; }
  form.location-date-search input.date {
    width: 160px; }
  form.location-date-search input.submit {
    width: 120px;
    border: none; }

h2.filter-by {
  margin-bottom: 22px; }

select.bike-sort {
  width: 160px; }

div.bike-frame img {
  height: 200px;
  width: 200px; }

div.bike-frame input {
  height: 30px; }

div.bike-frame text {
  font-size: .65em; }

div.bike-frame h6 {
  margin-bottom: -5px;
  font-size: .7em; }

#bikeh1 {
  margin-bottom: 97px; }

div.bike-frame section {
  width: 320px; }

.dashboardDivs {
  display: flex;
  width: 80vw;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  align-items: center; }

.dashboardDivs h3 {
  margin: 0;
  margin-left: 20px; }

.dashboardDrop {
  width: 80vw;
  height: auto;
  margin: auto;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  padding: 20px; }

.dashboardBikeFrame {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  border: 1px solid black; }
  .dashboardBikeFrame img {
    width: 200px;
    height: 200px;
    border: 1px solid black; }

.dashboardBikeFrameContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 79%;
  margin-left: 15px; }

.dashboardBikeFrameContent2 {
  display: flex;
  justify-content: space-between;
  width: 79%;
  margin-left: 15px; }

.myBikesColumn {
  width: 60vw; }

.myBikesColumn2 {
  width: 25vw;
  margin-left: 15px; }

#myBikesAvailable {
  width: 100px;
  background-color: green;
  color: white;
  border: none; }

#myBikesEdit {
  width: 100px;
  background-color: #4c96d7;
  color: white;
  border: none; }

.bikeFrameHeading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  padding-right: 40px; }

.bikeFrameHeadingElement {
  margin: 0; }

.bikeFrameTimeWindow {
  display: flex;
  flex-direction: column; }

.dashboardSpecialInstructions {
  width: 60%;
  margin-left: 15px; }

#uniqueP {
  margin-top: 20px; }

#editUsersButton {
  align-self: center;
  margin-top: 10px;
  justify-content: center;
  color: white;
  background-color: #4c96d7;
  border: none; }

.pendingRequests {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px solid black; }

.requestSection {
  width: 30vw;
  margin-left: 15px; }

.requestSection1 {
  width: 50vw;
  margin-left: 15px; }

#confirmRequestButton {
  width: 100px;
  color: white;
  background-color: green;
  border: none; }

#denyRequestButton {
  width: 100px;
  color: white;
  background-color: red;
  border: none; }

.signup {
  top: 20vh;
  left: 50vh;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  border-color: black;
  border-width: .5px;
  border-style: solid;
  margin: 30px;
  margin-top: 10px;
  background: white; }

.signup form {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 10px; }

.signup input {
  margin-top: 12px;
  text-align: center;
  height: 35px;
  font-size: 1.5em; }

.signupAddress {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.signupAddress input {
  width: 120px; }

.signupAddress select {
  margin-top: 13px;
  width: 120px; }

.signup input[type=submit] {
  background: #4c96d7;
  color: white; }

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  padding-top: 50px; }

.signupSuccess {
  top: 20vh;
  left: 20vw;
  height: 160px;
  width: 650px;
  background: white;
  position: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: .6px;
  align-content: space-around;
  margin: 50px;
  padding: 20px; }

.signupSuccess input[type=submit] {
  background: #4c96d7;
  float: right;
  margin-right: 20px;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 1.6em;
  padding-bottom: 35px; }

.signupSuccess h1 {
  margin-top: -10px; }

.addbikeSuccess {
  top: 20vh;
  left: 20vw;
  height: 160px;
  width: 650px;
  background: white;
  position: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: .6px;
  align-content: space-around;
  margin: 50px;
  padding: 20px; }

.addbikesSuccess h2 {
  margin-top: -1.5vh; }

.addbikesSuccess input {
  float: right;
  width: 13vw;
  height: 4vh;
  color: white;
  background: #4c96d7; }

.signupSuccess input[type=submit] {
  background: #4c96d7;
  float: right;
  margin-right: 20px;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 1.6em;
  padding-bottom: 35px; }

.signupSuccess h1 {
  margin-top: -10px; }

.addBike {
  top: 20vh;
  left: 20vw;
  border-color: black;
  border-style: solid;
  border-width: .5px;
  width: 59vw;
  height: 86vh;
  margin: auto;
  margin-top: 2vh;
  padding: 18px;
  padding-left: 30px;
  padding-right: 30px; }

.addBike h5 {
  margin-bottom: 3px; }

.addBike input[type=text] {
  width: 25vw;
  height: 6vh;
  font-size: 1.5em;
  font-weight: 200;
  padding-left: 10px; }

.addBike select {
  height: 5vh;
  width: 18vw;
  margin-top: .25vh; }

.addBike h1 {
  margin-top: 5px; }

#rightdiv {
  float: right;
  width: 28vw;
  margin-top: -40.5vh; }

#pickupins {
  height: 11vh;
  width: 28vw; }

#addbikecancel {
  background: #FF4F51;
  color: white; }

#postBike {
  background: #4c96d7;
  color: white; }

#addbikeLocation {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#streetAddress {
  width: 20vw; }

#addbikeCity {
  width: 15vw; }

#addbikestate {
  width: 5vw; }

#addbikezip {
  width: 7vw; }

#addbikeDesc {
  height: 12vh;
  width: 54.75vw;
  margin-bottom: 1.5vh; }

#addbikeButtons input {
  width: 15vw;
  height: 4.5vh;
  margin-left: 3vw;
  margin-top: 0vh;
  font-size: 1.8em;
  padding-bottom: 1.4em; }

#addbikeButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: -0.25vw; }

.confirm {
  top: 20vh;
  left: 20vw;
  height: 64vh;
  width: 49vw;
  border-width: .25vh;
  border-color: black;
  border-style: solid;
  background: white;
  padding: 2.5vh;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10vh; }

.confirm input {
  width: 26vw;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh; }

.confirm select {
  width: 7vw; }

.confirm h4 {
  margin-bottom: 0px;
  margin-top: 0px; }

.confirm h1 {
  margin-top: 0vh;
  margin-bottom: 3vh; }

.confirm p {
  margin-bottom: 0; }

#paymentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#optionalMessage {
  height: 12vh;
  width: 43.75vw;
  margin-bottom: 5vh; }

#paymentDiv h5 {
  margin-bottom: 0; }

#confirmButtonDiv input[type=submit] {
  width: 18vw;
  height: 5vh; }

#confirmBottomDiv input {
  margin-right: 2.75vw; }

#confirmButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#confirmSubmit {
  background: #4c96d7;
  color: white; }

#confirmCancel {
  background: #FF4F51;
  color: white; }

.popup {
  position: absolute; }

#signinDiv {
  position: absolute;
  top: 13vh;
  left: 67vh;
  height: 36vh;
  width: 30vw;
  margin: auto;
  margin-top: 20vh;
  border-style: solid;
  border-width: .5px;
  border-color: black;
  padding: 1.0vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: white; }

#signinDiv h1 {
  margin-top: 0;
  margin-bottom: 3vh; }

#signinDiv h5 {
  margin-bottom: .3vh; }

#signinDiv input {
  margin: 0;
  width: 20vw;
  height: 4vh; }

#signinDiv input[type=submit] {
  background: #4c96d7;
  margin-top: 3vh; }

#signinSubmit {
  color: white; }

.no-margin {
  margin: 0; }

.bottom-margin {
  margin: 0;
  margin-bottom: 10px; }

div.accept-request {
  top: 20vh;
  left: 30vw;
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 58vh;
  padding: 20px; }

form.accept-request {
  width: 80%; }
  form.accept-request input, form.accept-request select {
    margin-top: 10px; }

input#accept-request-city {
  width: 36%; }

select#accept-request-state {
  width: 30%;
  height: 34px; }

input#accept-request-zip {
  width: 24%; }

input#accept-request-textarea {
  height: 80px;
  padding-bottom: 52px; }

div#cr-inner-form-1 {
  margin-bottom: 20px; }

div#cr-inner-form-2 {
  margin-bottom: 20px; }

div#cr-inner-form-3 {
  margin-bottom: 10px; }

div#cr-inner-form-4 {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0; }

div.inner-form-div {
  display: flex;
  justify-content: space-between; }

input.btn {
  color: white; }
input.cancel-request {
  width: 30%;
  background-color: #3498DB;
  margin-top: 0; }
input.submit-request {
  width: 40%;
  background-color: #35DB43;
  margin-top: 0;
  margin-left: 10px; }

div.deny-request {
  top: 30vh;
  left: 60vh;
  display: flex;
  flex-direction: column;
  width: 34vw;
  height: 26vh;
  padding: 20px; }

p.big-bottom-margin {
  margin-bottom: 30px;
  width: 100%; }

div.inner-deny-request {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0; }

button.cancel-request {
  width: 30%;
  background-color: #3498DB;
  color: white;
  margin-left: 10px;
  margin-bottom: 0; }
button.deny-request {
  width: 20%;
  background-color: #D65858;
  color: white;
  margin-bottom: 0; }

.deleteBike {
  top: 20vh;
  left: 20vw;
  width: 50vw;
  height: 30vh;
  border-style: solid;
  border-color: black;
  border-width: .5px;
  margin: auto;
  margin-top: 10vh;
  background: white;
  padding: 2.5vw; }

.deleteBike h1 {
  margin-top: -2vh;
  margin-bottom: -1vh; }

#deleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#deleteButtons input {
  height: 5.25vh;
  width: 20vw;
  font-size: 1.5em;
  padding-bottom: 1vh; }

#deleteConfirm {
  background: #4c96d7;
  color: white; }

#deleteCancel {
  background: #FF4F51;
  color: white; }

header.masthead {
  background-color: #EBEBEB;
  -webkit-box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.6); }

header div {
  color: black;
  font-size: 18px; }

#landingContainer {
  background-image: url(/images/LandingPicture.jpeg);
  background-size: cover; }

#slogan p {
  color: white; }

#instructions p {
  color: white; }

#landingSearchForm {
  background-color: rgba(0, 0, 0, 0.5); }

#landingSearch {
  background-color: #4c96d7;
  color: white;
  width: 100px;
  border: none; }

main.bikes {
  background-image: url("../../../../images/beach_bikes.jpg"); }

section.bike-search-params {
  background-color: rgba(87, 87, 87, 0.5); }

section.all-bikes-frame {
  background-color: rgba(235, 235, 235, 0.5); }

div.bike-frame {
  background-color: rgba(255, 255, 255, 0.8); }

form.location-date-search input.submit {
  background-color: #3498DB;
  color: white;
  border: none; }

div.test-directive {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 100vh;
  background-color: red;
  color: blue;
  z-index: 1000; }

.dashboardDivs {
  background-color: #4c96d7; }

.dashboardDivs h3 {
  color: white; }

h2.filter-by {
  color: white; }

h2.result-subtitle {
  color: white; }

/*# sourceMappingURL=style.css.map */
