// Styling for the universal Header

header.masthead {
  background-color: #EBEBEB;
  -webkit-box-shadow: 0px 1.5px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1.5px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1.5px 3px 0px rgba(0,0,0,0.6);
}
header div {
  color: black;
  font-size: 18px;
}
// Styling for the Landing Page

#landingContainer {
  background-image: url(/images/LandingPicture.jpeg);
  background-size: cover;
}
#slogan p {
  color: white;
}
#instructions p {
  color: white;
}
#landingSearchForm{
  background-color: rgba(0, 0, 0, 0.5);
}
#landingSearch {
  background-color: #4c96d7;
  color: white;
  width: 100px;
  border: none;
}

// Styling for the Bikes Page

main.bikes {
  background-image: url('../../../../images/beach_bikes.jpg');
}

section.bike-search-params {
  background-color: rgba(87, 87, 87, 0.5);
}

section.all-bikes-frame {
  background-color: rgba(235, 235, 235, 0.5);
}

div.bike-frame {
  background-color: rgba(255, 255, 255, 0.8)
}

form.location-date-search {
  input.submit {
    background-color: #3498DB;
    color: white;
    border: none;
  }
}

// Custom Directive Testing

div.test-directive {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 100vh;
  background-color: red;
  color: blue;
  z-index: 1000;
}
// Styling for the dashboard page
.dashboardDivs {
  background-color: #4c96d7;
}
.dashboardDivs h3 {
  color: white;
}
