<main class="bikes">

  <section class="bike-search-params">
    <div class="location-date-search">
      <form class="location-date-search form-group" >
        <input type="text" placeholder="Enter Location (city or zip)" id="locationInput" name="location" ng-model="location">
        <input type="date" id="startTime" name="startTime" ng-model="startTime">
        <input type="date" id="endTime" name="endTime" ng-model="endTime">
        <a href="/#/bikes"><button type="submit" ng-click="searchBikes()" id="landingSearch" ng-show="!location">Search Bikes!</button></a>
        <a href="/#/bikes/search/{{location}}"><button type="submit" ng-click="searchBikes()" id="landingSearch" ng-show="location && !startTime">Search Bikes!</button></a>
        <a href="/#/bikes/search/{{location}}/{{startTime}}/{{endTime}}"><button type="submit" ng-click="searchBikes()" id="landingSearch" ng-show="startTime">Search Bikes!</button></a>
      </form>
    </div>
    <div class="bike-sort">
      <h2 class="filter-by">Filter By:</h2>
      <select name="" class="form-control bike-sort">
        <option value="">availability (soonest)</option>
        <option value="">location (nearest)</option>
        <option value="">location (farthest)</option>
        <option value="">price (lowest $/day)</option>
        <option value="">price (highest $/day)</option>
        <option value="">bike condition (best)</option>
        <option value="">bike condition (worst)</option>
      </select>
    </div>
  </section>

  <section class="all-bikes-frame">
    <section class="result-subtitle">
      <h2 class="result-subtitle">{{view.bikes.length}} <ng-pluralize count="view.bikes.length"
        when="{'1': 'bike',
          'other': 'bikes'
        }"
      ></ng-pluralize></h2>
    </section>
    <section class="bike-results">
      <div class="bike-frame" ng-repeat="bike in view.bikes">
        <div id="bike-frame-image">
          <img ng-src="{{bike.picture}}" alt="{{bike.title}}">
          <section id="pricing">
            <h5>Daily Rate: {{bike.price_day | currency}}</h5>
            <h5>Hourly Rate: {{bike.price_hour | currency | hourly}}</h5>
          </section>
        </div>

        <section id="bikeInfo">
          <div id="titleAndAvailability">
            <h4>{{bike.title}}</h4>
            <h5 id="bikeAvailability">{{bike.is_available | availability}}</h5>
          </div>
          <h5>Type: {{bike.type}}</h5>
          <h5>Condition: {{bike.condition}}</h5>
          <h6>Description: {{bike.description}}</h6>

          <a href="/#/bikes/request/bike/{{bike.id}}/{{bike.owner_id}}"><input class="form-control" type="button" ng-click="" value="Request Bike" id="bikeButton"></a>
        </section>
        <!-- <input class="form-control" type="button" ng-click="" value="Request Bike"> -->
      </div>

    </section>
  </section>

</main>
