<div class="popup-window accept-request" ng-show="view.popUp" id="acceptDiv">
  <form class="form-group accept-request" ng-repeat="request in view.requests">
    <div id="cr-inner-form-1">
      <h2 class="bottom-margin">Bike Rental Request Confirmation</h2>
      <p>All other pending requests which overlap with the time window of this request will automatically denied upon request acceptance, and users will be notified immediately.</p>
    </div>
    <h4>Confirm pickup address</h4>
    <input type="text" name="address" value="(preloaded street address)" id="accept-request-street-address" class="form-control" required>
    <div class="inner-form-div" id="cr-inner-form-2">
      <input type="text" value="(preloaded city)" id="accept-request-city" class="form-control" required>
      <select name="state" id="accept-request-state" class="form-control" required>
    <div id="cr-inner-form-3">
      <h4>Optional Message for Requester</h4>
      <input type="textarea" id="accept-request-textarea" class="form-control" ng-model="request.message">
    </div>
    <div class="no-margin" id="cr-inner-form-4">
      <a href="/#/dashboard/{{user.id}}"><button class="cancel-request btn">Cancel</button></a>
      <a href="/#/dashboard/{{user.id}}"><input type="submit" class="submit-request btn" value="Accept Request" ng-click="view.updateRequest(request.message)"></a>
    </div>
  </form>
</div>
